<div class="pageContent">
    <form method="post" action="__SELF__" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone);">
        <input type="hidden" name="user_id" value="{$user.id}" />
        <div class="pageFormContent" layouth="56">
            <input type="hidden" name="form_id" value="{$form_id}" />
            <input type="hidden" name="app_id" value="{$app_id}" />
            <input type="hidden" name="menu_id" value="{$menu_id}" />
            <input type="hidden" name="part_id" value="{$part_id}" />
            <input type="hidden" name="form_type" value="{$form_type}" />
            <p>
                <label>名称：</label>
                <input name="name" class="required" type="text" value="{$form.name}" />
            </p>
            <p>
                <label>代号：</label>
                <input name="code" class="required" type="text" value="{$form.code}" readonly />
            </p>
            <p>
                <label>宽度：</label>
                <input name="width" class="required" type="text" value="{$form.width}" />
            </p>
            <p>
                <label>类型：</label>
                <select name="type" class="required combox">
                    <option value="01" <if condition="$form.type eq '01'">selected</if>>文本框</option>
                    <option value="02" <if condition="$form.type eq '02'">selected</if>>日期框</option>
                </select>
            </p>
            <p>
                <label>排序：</label>
                <input name="order" class="required" type="text" value="{$form.order}" />
            </p>
            <p>
                <label>备注：</label>
                <input name="comment" type="text" value="{$form.comment}" />
            </p>
        </div>
        <div class="formBar">
            <ul>
                <li>
                    <div class="buttonActive">
                        <div class="buttonContent">
                            <button type="submit">保存</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="button">
                        <div class="buttonContent">
                            <button type="button" class="close">取消</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </form>
</div>
