<div class="pageContent">
    <form method="post" action="__SELF__" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone);">
        <input type="hidden" name="app_id" value="{$app.id}" />
        <div class="pageFormContent" layouth="56">
            <p>
                <label>应用名称：</label>
                <input name="name" class="required" type="text" autocomplete="off" value="{$app.name}" />
            </p>
            <p>
                <label>应用代号：</label>
                <input name="code" class="required" type="text" value="{$app.code}" autocomplete="off" disabled />
            </p>
            <p>
                <label>备注：</label>
                <input name="comment" type="text" value="{$app.comment}" autocomplete="off" />
            </p>
        </div>
        <div class="formBar">
            <ul>
                <li>
                    <div class="buttonActive">
                        <div class="buttonContent">
                            <button type="submit">保存</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="button">
                        <div class="buttonContent">
                            <button type="button" class="close">取消</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </form>
</div>
